@charset "UTF-8";
@use "components/header";
@use "pages/home";

$color-primary: #1a202c; // Quase preto (Dark Mode)
$color-secondary: #2d3748;
$color-text-light: #ffffff;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: $color-text-light;
  background: $color-primary;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
